
@{
    ViewBag.Title = "_Footer1";
    Layout = "~/Views/Main/_MainLayout.cshtml";
}
<br />
<br />
<footer class="clearfix">
    <div style="margin: auto; text-align: center;"><img alt="شركة المتكامل" src="~../../../../Images/logocomp.png" /></div>
    <div style="text-align:center">
     جميع الحقوق محفوظة© لشركة المتكامل لإدارة وتقنية المعلومات
    </div>
    <div style="text-align:center; color:#555">
        <a href="http://almotkaml.com" style="text-decoration: none;">
            Powered By Almotkaml Human Resource System version : 2.2.0 beta
        </a>
    </div>
</footer>
