@model EvaluationModel

@{
    ViewBag.Title = "التقييم السنوي";
}



@using (Ajax.BeginForm(new AjaxOptions()
{
    UpdateTargetId = "ajax-form",
    OnSuccess = "RedirectToIndex()",
    OnBegin = "OnBegin()",
    LoadingElementId = "divLoading"
}))
{
    <div id="ajax-form">
        @Html.Partial("_Form", Model, ViewData)
    </div>
}
