@model PersonalModel

@{
    ViewBag.Title = "إضافة موظف";
}


<fieldset class="no-border">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @ViewBag.Title
                </div>
                @using (Ajax.BeginForm(new AjaxOptions()
                {
                    UpdateTargetId = "ajax-form",
                    OnSuccess = "RedirectToEdit()",
                    OnBegin = "OnBegin()",
                    OnFailure = "OnFailure()",
                    LoadingElementId = "divLoading"
                }))
                {
                    <div id="ajax-form">
                        @Html.Partial("_PersonalForm", Model, ViewData)
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @if (Model.CanSubmit)
                                {
                                    <input name="save" type="submit" value="حفظ" class="btn btn-success js-submit" />
                                }
                                @Html.ActionLink("الرجوع إلى القائمة", "Index", null, new { @class = "turn_back btn btn-info" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.panel -->
        </div>
    </div>
</fieldset>
